.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.875rem;
  margin-bottom: 9.81rem;
}

.contactHeading {
  display: flex;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contactNumber {
  color: #64feda;
  margin-left: 4.75rem;
  margin-right: 0.625rem;
}

.contactName {
  color: #ccd6f6;
  margin-right: 4.75rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.contactText {
  color: #8892b0;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sendEmail {
  display: flex;
  padding: 0.5625rem 1.0625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  border: 2px solid #64feda;
  background: #0b192f;
}

a {
  text-decoration: none;
  color: #64feda;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
