a {
  text-decoration: none;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.3125rem;
  margin-bottom: 7rem;
}

.projectsHeading {
  display: flex;
  align-items: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.projectsNumber {
  margin-left: 5.94rem;
  color: #64feda;
  margin-right: 0.625rem;
}

.projectsName {
  color: #ccd6f6;
  margin-right: 5.94rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.3125rem;
}

.project {
  display: flex;
  align-items: center;
  gap: 6.6875rem;
}

.projectImg {
  width: 33.75rem;
  height: 18.5625rem;
}

.projectHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.projectLink {
  color: #ccd6f6;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projectLink:hover {
  color: #64feda;
  transition: 500ms;
}

.projectHeading p {
  color: #8892b0;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.githubIcon {
  width: 2rem;
  height: 2rem;
  color: #ccd6f6;
}

.otherProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherProjects a {
  display: flex;
  width: 14.1875rem;
  height: 3.625rem;
  padding: 0.5625rem 1.0625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  border: 2px solid #64feda;
  background: #0b192f;
  color: #64feda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.otherProjects a:hover {
  background-color: #64feda;
  color: #0b192f;
  transition: 500ms;
}
