.header-container {
    background-color: #0b192f;
    color: #64feda;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding: 20px;
  }
  
  .name {
    color: #ccd6f6;
  }
  
  .name-bottom,
  .summary {
    color: #8892b0;
  }
  
  .project-link {
    border: 2px solid #64feda;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px 10px;
  }
  
  .project-link:hover {
    background-color: #64feda;
    color: #0b192f;
  }
  
  .project-link a {
    color: #64feda;
    text-decoration: none;
    transition: color 0.8s;
  }
  
  .project-link a:hover {
    color: #0b192f;
  }
  
  @media only screen and (max-width: 425px) {
    .header-container {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  @media only screen and (min-width: 425px) and (max-width: 768px) {
    .header-container {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }